<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
</div> -->

<!-- NOTA: Para modificar un boton haciendo uso de primeNG, podemos hacer uso de sus
directivas, por ejemplo pButton -->
<!--<button pButton
        class="p-button-help"
        (click)="mostrarNombre( )"
        label="Cambiar nombre"
        icon="pi pi-bell"
        iconPos="right"></button>

<hr/> -->

<!-- NOTA: Creando una tarjeta con primeNG
al header entre [] le estamos diciendo que tome el valor de la propiedad nombre -->
<!-- <p-card [header]="nombre | titlecase"
        subheader="Esto es un header">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio rerum repellat deleniti magni adipisci inventore
        enim incidunt earum, quasi ad id quam similique nihil
        asperiores quaerat ea debitis, impedit totam.
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>