
<h1>Listado de Heroes</h1>
<mat-divider></mat-divider>
<br>

<!-- NOTA: Creando una tarjeta para cada superHeroe -->
<!-- wrap nos sirve para decirle al HTML que si no cabe por las dimensiones de la pantalla
    entonces que lo pase a la siguiente linea.
    column: Cuando la pantalla sea muy pequena que lo muestre como una columna-->
<div fxLayout="'row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="20px">
    
    <!-- Cada tarjeta tiene el 20% del row -->
    <div fxFlex="20"
         fxFlex.lg="15"
         fxFlex.sm="30"
        *ngFor="let heroe of heroes">

        <!-- Con las [] traeemos el valor de heroe desde heroe-tarjeta.component.ts -->
        <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>

    </div>
</div>
