<mat-card>
    <!-- Nombre del personaje y quien lo caracteriza -->
    <mat-card-header>
        <mat-card-title>{{heroe.superhero}}</mat-card-title>
        <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
    </mat-card-header>

    <!-- Imagen del personaje -->
    <!-- <img mat-card-image src=""> -->

    <img mat-card-image [src]="heroe | imagen">

    <!-- Informacion sobre su aparicion y personajes -->
    <mat-card-content>
        <h3>{{heroe.publisher}}</h3>
        <p>
            <strong>Primera aparicion</strong> {{heroe.first_appearance}}
            <br>
            <strong>Personajes:</strong> {{heroe.characters}}
        </p>
    </mat-card-content>

    <!-- Esta parte es reservada para colocar botones -->
    <mat-card-actions>
        <button mat-button
                color="warn"
                [routerLink]="['', heroe.id]">
            Leer mas...
        </button>

        <button mat-button
                color="info"
                [routerLink]="['', heroe.id]">
            Editar
        </button>
    </mat-card-actions>

</mat-card>